In [2]:
import pandas as pd
from sklearn.model_selection import train_test_split

In [3]:
df = pd.read_csv("diamonds.csv", index_col=0)

In [4]:
df

       carat        cut color clarity  depth  table  price     x     y     z
1       0.23      Ideal     E     SI2   61.5   55.0    326  3.95  3.98  2.43
2       0.21    Premium     E     SI1   59.8   61.0    326  3.89  3.84  2.31
3       0.23       Good     E     VS1   56.9   65.0    327  4.05  4.07  2.31
4       0.29    Premium     I     VS2   62.4   58.0    334  4.20  4.23  2.63
5       0.31       Good     J     SI2   63.3   58.0    335  4.34  4.35  2.75
...      ...        ...   ...     ...    ...    ...    ...   ...   ...   ...
53936   0.72      Ideal     D     SI1   60.8   57.0   2757  5.75  5.76  3.50
53937   0.72       Good     D     SI1   63.1   55.0   2757  5.69  5.75  3.61
53938   0.70  Very Good     D     SI1   62.8   60.0   2757  5.66  5.68  3.56
53939   0.86    Premium     H     SI2   61.0   58.0   2757  6.15  6.12  3.74
53940   0.75      Ideal     D     SI2   62.2   55.0   2757  5.83  5.87  3.64

[53940 rows x 10 columns]

In [5]:
X = df.drop('price',axis=1).values
y = df['price'].values

In [6]:
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.25, random_state = 42)

In [7]:
df_train_x = pd.DataFrame(X_train, columns=df.drop('price',axis=1).columns)

In [8]:
df_train_x

      carat        cut color clarity depth table     x     y     z
0      0.25       Good     E    VVS2  64.9  58.0  3.95  3.97  2.57
1      0.84      Ideal     J     SI1  61.8  56.0  6.04  6.07  3.74
2      1.05    Premium     J     VS2  61.1  58.0  6.56  6.51  3.99
3      1.02      Ideal     F     SI2  60.7  56.0  6.53   6.5  3.95
4      0.61      Ideal     F     VS1  61.8  57.0  5.43  5.47  3.37
...     ...        ...   ...     ...   ...   ...   ...   ...   ...
40450  1.05  Very Good     I     VS2  62.4  59.0  6.48  6.51  4.05
40451  0.47      Ideal     D     VS1  61.0  55.0  5.03  5.01  3.06
40452  0.33  Very Good     F      IF  60.3  58.0  4.49  4.46   2.7
40453   0.9    Premium     J     SI1  62.8  59.0  6.13  6.03  3.82
40454  1.14    Premium     F     SI1  60.4  58.0  6.82  6.79  4.11

[40455 rows x 9 columns]

In [9]:
df_train_y = pd.DataFrame(y_train, columns=['price'])

In [10]:
df_train_y

       price
0        476
1       2493
2       4145
3       4541
4       2283
...      ...
40450   4975
40451   1617
40452   1014
40453   2871
40454   6320

[40455 rows x 1 columns]

In [11]:
df_train = pd.concat([df_train_x, df_train_y], axis=1)

In [12]:
df_train.to_csv("briliants_train.csv")

In [13]:
df_test_y = pd.DataFrame(X_test, columns=df.drop('price',axis=1).columns)

In [14]:
df_test_y.to_csv("briliants_test.csv")

In [16]:
pd.DataFrame(y_test, columns=['price']).to_csv("briliants_y_true.csv")